# Dir navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'
alias ll='tree --dirsfirst -ChFupDaLg 1'
alias l='ls'
alias la='ls -a'

# Utilities
alias d="du -h -d=1"
alias df="df -h"
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias h="history"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ip="curl -s http://checkip.dyndns.com/ | sed 's/[^0-9\.]//g'"
alias localip="ipconfig getifaddr en1"
alias mp="mvim -p"
alias view="vim -p -R"
alias vp="v -p"
alias gz='tar -zcvf' # Zip it up
alias cl='clear'
alias gs='gsed'

# Make tmux use 256 colors
alias tmux="TERM=screen-256color tmux"

# NVIM
alias v.='v .'
alias v='nvim'
alias vi='nvim'

# Global
alias -g H='| head'
alias -g L='| less'
alias -g N='| /dev/null'
alias -g S='| sort'
alias -g G='| grep'

# Git
alias g='git'
alias gd='git diff'
alias gdc='git diff --cached'
alias gl='git pull'
alias gup='git pull --rebase'
alias gp='git push'
alias gcm='git commit -m'
alias gco='git checkout'
alias gr='git remote'
alias grv='git remote -v'
alias gsta='git stash'
alias gsp='git stash pop'
alias grb='git rebase'
alias grbi='git rebase -i'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias gb='git branch'
alias gba='git branch -a'
alias gcount='git shortlog -sn'
alias gcl='git config --list'
alias gcp='git cherry-pick'
alias glg='git log --stat --max-count=10'
alias glgg='git log --graph --max-count=10'
alias glgga='git log --graph --decorate --all'
alias glo='git log --oneline --decorate --color'
alias glog='git log --oneline --decorate --color --graph'
alias glogp="log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative"
alias gst='git status'
alias gss='git status -s'
alias ga='git add'
alias gaa='git add --all'
alias gm='git merge'
alias gmt='git mergetool'
alias gmt='git difftool'
alias grh='git reset HEAD'
alias grhh='git reset HEAD --hard'
alias gclean='git reset --hard && git clean -dfx'
alias gwc='git whatchanged -p --abbrev-commit --pretty=medium'

# Misc
alias vu='vagrant up'
alias vh='vagrant halt'
alias vs='vagrant status'
alias vsh='vagrant ssh'
alias vsus='vagrant suspend'
alias vres='vagrant resume'
alias vr='vagrant reload'
alias vrp='vagrant reload --provision'
alias vpro='vagrant provision'

# NPM
alias ni='npm i'
alias nis='npm i -S'
alias nisd='npm i -D'
alias nu='npm un'
alias nus='npm un -S'
alias nusd='npm un -D'
alias nr='npm run'

# Elm
alias epi='elm package install -y'

# Start mongo as daemon
alias mongodd='mongod --fork --logpath /data/log/mongodb.log'
