# Doc
snippet doc
#
# ${1}
#
endsnippet

# Attribute accessor
snippet aa
attr_accessor :${1}
endsnippet

# Each
snippet each
${1}.each { |${2}| ${3} }
endsnippet

# Each do
snippet eachdo
${1}.each do |${2}|
	${3}
end
endsnippet

# Map
snippet map
${1}.map { |${2}| ${3} }
endsnippet

# Map do
snippet mapdo
${1}.map do |${2}|
	${3}
end
endsnippet

